.title {
    font-size: 60px;
    color: #fff;
    margin-top: -10px;

}

.container {
    background-color: #4d0000;
    padding: 40px;
    text-align: center;



}

.characterGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.characterCard {
    width: 140px;
    height: 180px;
    margin: 10px;
    padding: 40px;
    margin-left: 20px;
    border: 4px solid #000;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;

}

.characterImage {
    margin-top: -30px;
    width: 100%;
    height: 185px;
    object-fit: cover;
    border-radius: 4px;

}

.characterCard h2 {
    font-size: 18px;
    margin: 10px 0;

}

.characterCard p {
    font-size: 14px;
    color: #666;
}