.container {
    background-color: #4d0000;
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container a {
    text-align: center;
}

.backButton {
    align-self: flex-start;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #0070f3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.backButton:hover {
    background-color: #005bb5;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.title {
    cursor: pointer;
    font-size: 90px;
    color: #fff;
    text-shadow:
        -5px -3px 0 #000,
        5px -3px 0 #000,
        -5px 3px 0 #000,
        5px 3px 0 #000;
}

.image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 40px;
}

.headerInfo {
    flex-grow: 1;
}

.name {
    margin-top: 20px;
    margin: 0;
    font-size: 2rem;
    color: #fff;

}

.description {
    font-size: 1rem;
    color: #fff;
    margin-top: 10px;
}

.details {
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
}

.section {
    flex-direction: column;
    display: flex;
    margin-bottom: 50px;
    width: 250px;
}

.section h2 {
    font-size: 1.5rem;
    color: #fff;
    border-bottom: 2px solid #0070f3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.section p {
    font-size: 1rem;
    color: #666666;
    margin: 5px 0;
}